<div id="plus18" class="dialog-bg">
    <div class="dialog-content">
        <h2 style="width: 100%;text-align:center;">Are you 18+?</h2>
        <p>We are legally not allowed to sell vape liquids to anyone under the age of 18. Please confirm that
            you are 18+.</p>
        <div style="width: 100%;text-align:center;padding-top:20px;padding-bottom:20px;">
        <a class="btn" href="https://www.google.com/search?q=What&nbsp;can&nbsp;I&nbsp;do&nbsp;when&nbsp;i&nbsp;am&nbsp;underage">Under 18</a>
        <a class="btn confirm18plus" href="#">Confirm</a>
        </div>
    </div>
</div>