.twoflex {
    display: flex;
    flex-wrap: wrap;
}
.twoflex > * { margin: 0 10px; }    
.twoflex > :first-child {
    margin-left: 0;
    min-width:150px;
    flex: 1 1 150px;
}
.twoflex > :last-child {
    flex: 2 0 200px;
    margin-right: 0;
}