.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 750px;
}

.container {
	max-width: 1140px;

	&.max-container {
		max-width: 100%;
		padding: 0;
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: $brand-color no-repeat center;
	background-size: cover;
	position: relative;

	h2 {
		text-shadow: 0 1px 3px #000;
		font-size: 3.2rem;
		line-height: 1.5;
		margin: 0;
	}

	@media (min-width: 500px) {
		h2 {
			font-size: 4rem;
		}
	}

	p {
		color: #fff;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

section {
	padding: 0 0;
}

section + section {
	padding-top: 0;
}

.subtext {
	margin-top: 10px;
	text-align: center;
}


.cta {
	margin: 60px 0;
}

.page h2 {
	text-align: center;
}

blockquote {
	padding: 18px 25px;
	margin: 0 auto;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: italic;
	line-height: 2.5;
	font-size: 1.1em;
	max-width: 900px;

	.author {
		display: block;
		font-weight: bold;
		margin: 20px 0 0 0;
		font-size: 1.1em;
		font-style: normal;
		text-align: right;
	}

	p {
		display: inline;
	}
}

blockquote .quote:before,
blockquote .quote:after {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.1em;
	vertical-align: -0.4em;
}

blockquote .quote:after {
	content: close-quote;
}

.page {
	margin-bottom: 0;
	padding-bottom: 80px;
}

.center-text {
	text-align: center;
}

.thirds {
	display: flex;
	margin: 0 -20px;
	flex-wrap: wrap;
}

.thirds div {
 	flex: 1 1 200px;
	padding: 50px 20px 0 20px;
}
