header {
	color: $text-on-brand-color;
	background-color: $header-bg;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.17);
	padding-left: 10px;
    padding-right: 10px;

	.company-name {
		position: absolute;
		top: 0px;
		a {
			display: block;
		}

		img {
			max-width: 200px;
		}
	}
}


.hero {
	color: #ffffff;
	text-align: center;
	padding: 20px;

	h2 {
		text-shadow: 0 1px 3px #000;
		font-size: 3.2rem;
		line-height: 1.5;
		margin: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis; 
	}

	@media (min-width: 500px) {
		h2 {
			font-size: 4rem;
		}
	}
}

@media #{$below-mid-point} {
.nav-open {
	nav {
		border: 0;
		z-index: 2;

		a {
			display: block;
		}
	}
}
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.17);
	padding-left: 10px;
	padding-right: 10px;
	left: 0px;
	right: 0px;
	background-color: $header-bg;
}

nav {
	text-transform: uppercase;
	width: 100%;

	@media #{$mid-point} {
		display: inline-block;
		vertical-align: top;
		display: flex;
		flex-wrap: nowrap;
		flex-flow: row;
		align-items: flex-end;
	}

	a {
		margin: auto;
		// padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: $text-on-brand-color;
		// padding-bottom: 20px;
		border-bottom: 3px solid transparent;
		transition: 200ms all;
		display: none;
		text-decoration: none;

		@media #{$mid-point} {
			display: inline-block;
			padding: 10px;
			flex: 0 0 auto;
			height: 100%;

			.cart {
				background: rgba(255,255,255,1);
				align-self: flex-end;
			}
		}

		i {
			vertical-align: bottom;
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 0;
			top: -22px;
			font-size: 1.9em;
			border: 0;
			z-index: 2;
			padding: 20px;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		border-bottom: 3px solid $text-on-brand-color-hover;
		text-decoration: none;
		// padding-bottom: 5px;
	}

	a.active {
		border-bottom: 3px solid $text-on-brand-color-active;
		color: $text-on-brand-color-active;
		// padding-bottom: 5px;
	}
}
